<%= content_for :header_title do %>

    Quienes Somos

<% end %>

<%= content_for :header_sub_title do %>

    "Siempre un espacio para ti" 

<% end %>

<h2>Nuestros inicios</h2>

<p>Se inicio el servicio para satifacer una necesidad que apremia a los conductores que requieren parque en el distrito de San Isidro.</p>

<p>Nuestra principal caracteristica es la retroalimentacion de la información por parque de los usuarios.</p>


<h2>Colaboradores</h2>

<p>Son:</p>

<ul>

<li>Gustavo Perotti</li>
<li>Nilton Cupe</li>
<li>Alberto Milla</li>
<li>Jhon Martinez</li>
<li>Hernán Lezama Loza</li>

</ul>

