<li><%= link_to "About us", pages_about_us_path  %></li>

<li><%= link_to "Estacionamientos", pages_estacionamientos_path  %></li>
<li><%= link_to "FAQ", pages_faq_path  %></li>
<li><%= link_to "Servicios", pages_servicios_path  %></li>


